{
  "ServerAddress": "127.0.0.1:8585",

  "FilesPath": "path/to/original/files",
  "CachePath": "path/to/transformed/files",

  "DatabaseDSN": "username:password@/database_name?columnsWithAlias=false",
  "DatabaseFilesTable": "file",
  "DatabaseDialect": "mysql",  

  "GeneratorPathTimePattern": "2006/01/02",
  "GeneratorFilenameLength": 8,
  "GeneratorMinFileDirIndex": 0,
  "GeneratorMaxFileDirIndex": 5,

  "ImageDefaultQuality": 95,
  "EnableOptimizator": false
}